
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">


    <style>
      html,body {
        height: 100%;
      }
    </style>
  </head>
  <body>
  <nav class="navbar navbar-expand-sm bg-dark nav-dark">
    <a class="navbar-brand" href="" style="color:white">Squirrels Tracker</a>
    <div class="collapse navbar-collapse" id="nav-menu">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/" style="color:white">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/map" style="color:white">Map</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/sightings" style="color:white">Sightings</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/sightings/add" style="color:white">Add</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/sightings/stats" style="color:white">Statistics</a>
      </li>

      </ul>
      </div>
  </nav>

  <div class="container">
      <br>
      <br>
          <div>
            <div>
              <h3>Map</h3>
              <p> Shows a map that displays the location of the squirrel sightings.</p>
              <p><a class="btn btn-secondary" href="/map/" role="button" style="background-color:black color:white">Go ahead!</a></p>
            </div>
              <br>
            <div>
              <h3> Sighting</h3>
              <p> Lists all squirrel sightings with links to view each sighting.</p>
              <p><a class="btn btn-secondary" href="/sightings/" role="button" style="background-color:black color:white">Go ahead!</a></p>
            </div>
              <div >
              <hr>
              <h3>Subordinate functions under Sighting:        </h3>
              <hr>
              </div>
            <div>
              <h5>Add Sighting</h5>
              <p> Create a new sighting.</p>
              <p><a class="btn btn-secondary" href="/sightings/add" role="button" style="background-color:black color:white">Go ahead!</a></p>
            </div>
              <br>
            <div>
              <h5>Statistics</h5>
              <p>Show general stats about the sightings.</p>
              <p><a class="btn btn-secondary" href="/sightings/stats" role="button" style="background-color:black color:white">Go ahead!</a></p>
            </div>
          </div>

          <hr>

        </div> <!-- /container -->

  </body>
</html>
